.vh-100 {
    height: 100vh !important;
}

.bg-dr-dark {
    background-color: #292F4C;
}

.bg-dr-second {
    background-color: #F8F8F8;
}

.text-dr-dark {
    color: #292F4C;
}

#Sidebar .menu li {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    list-style: none;
    color: rgba(255,255,255,.3);
    font-size: 2.5em;
}


#Sidebar .menu li.active {
    border-left: .75vw solid #F85252;
    color: #fff;
}

#MessageList #SearchBox input {
    border-radius: 50px;
    border: 0;
    background: #eee;
    outline: none;
    line-height: 3em;
    padding: 0 45px;
}

#MessageList #SearchBox i {
    position: absolute;
    line-height: 3em;
    color: #888;
    left: 0;
    transform: translateX(28px);
}

#MessageList #Messages {
    overflow-y: scroll;
    max-height: 85vh;
    background: #fff;
}

.card {
    border: 0;
    box-shadow: 20px 20px 60px rgba(26,32,53,0.06);
    margin-bottom: 1.5em;
    border-radius: 10px;
}

.card .avatar::before {
    content: '';
    width: .75em;
    height: .75em;
    background: #34D859;
    border-radius: 50%;
    position: absolute;
    display: block;
    transform: translate(.125em, .125em);
    border: .2em solid #fff;
}

.card .title h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.card .time {
    text-align: right;
}
.card .time span {
    color: rgba(0,0,0,.3);
    line-height: 1.2;
}

.card .time .number {
    background-color: #F85252;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    width: 1.5em;
    line-height: 1.5em;
    color: #fff;
    float: right;
}

.card h3 {
    overflow: hidden;
    color: #ffffff;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

.chat-titl{
	color: white;
    background: #32395d;
    transition: all .3s;
    border-radius: 0;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    box-shadow: none;
}

.chat-titl:hover{
    background-color:#292F4C;
    border-top: 3px solid #F85252;
}

.chat-titl:hover h3, .chat-titl:hover h2{
	color:#ffff;
}

.DOM-title{
    color:#F85252 ;
    font-size: x-large;
    left: 5px;
}

.New-Chat {
    position: fixed;
    left: 10px;
    bottom: 10px;

}
.New-Chat-btn {
    background-color:#F85252;
    bottom: 10px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    font-size: xx-large;
    color: #FFF;
    border: 5px solid transparent;
}
.New-Chat-btn:hover {
    background-color: transparent;
    color: #F85252;
    border: 5px solid #F85252;
}