.login-bott{
    background-color:#F85252;
    color: beige;
    position: fixed;
    border-radius: 50px;
}
.login-bott:hover {
    background-color: rgb(156, 37, 37);
    color: beige;
}
.in-form-control {
	background-color: rgb(134, 0, 0);
	border-color: #292F4C;
	border-radius: 50px;
	border: 0;
	background: #eee;
	outline: none;
	padding: 0 45px;
}
.form-control {
	border-color: #292F4C;
	border-radius: 50px;
	border: 0;
	outline: none;
	padding: 0 45px;
}

.login-h4 {
	color: beige;
}
.login-warning{
    color: beige;
    font-size: large;
    padding: 3%;
}