#signup-root {
	display: none;
}
.login-bott{
    background-color:#F85252;
    color: beige;
    position: fixed;
    border-radius: 50px;
}
.login-bott:hover {
    background-color: rgb(182, 35, 35);
    color: beige;
}
.login-bott:active {
    background-color: rgb(248, 74, 74);
    color: beige;
}
.in-form-control {
	background-color: rgb(134, 0, 0);
	border-color: #292F4C;
	border-radius: 50px;
	border: 0;
	background: #eee;
	outline: none;
	padding: 0 45px;
}
.form-control {
	border-color: #292F4C;
	border-radius: 50px;
	border: 0;
	outline: none;
	padding: 0 45px;
}

.login-h4 {
    color: beige;
    position: relative;
    top:9px;
}
.login-warning{
    color: beige;
    font-size: large;
    padding: 3%;
}
.signup-button {
    background-color: #F85252;
    height: 45px;
    width: 45px;
    position: relative;
		padding: 0px;
/*    top:3px;*/
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bold;
    color:rgb(252, 252, 252);
}
.signup-button:hover {
    background-color: rgb(182, 35, 35);
    /* position: fixed;
    right: 41.5%; */
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bold;
    color:rgb(252, 252, 252);
}
.signup-button:active {
    background-color: rgb(248, 74, 74);
    /* position: fixed;
    right: 41.5%; */
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bold;
    color:rgb(252, 252, 252);
}
