
.login-darkblue {
    
    background-color: #292F4C;
    border-radius: 20px;
    border: 0;
    width: 100%;
    height: 100%;
}
.login-root {
    
    position: fixed;
    width: 25%;
    height:50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.login-bott{
    background-color:#F85252;
    color: beige;
    position: fixed;
    width:100%;
    border-radius: 50px;
}
.login-bott:hover {
    background-color: rgb(156, 37, 37);
    color: beige;
    position: fixed;
    width:100%;
    border-radius: 50px;
}
/* .xs{
    color: black;
} */

.form-control {
    background-color: rgb(134, 0, 0);
    border-color: #292F4C;
    border-radius: 50px;
    border: 0;
    background: #eee;
    outline: none;
    line-height: 3em;
    padding: 0 45px;
}
/* .form-check {
    left: 7%;
} */
/* .logpage {
    border-radius: 50px;
    border: 0;
    position: fixed;
    width:100%;
} */
.login-h4 {
    color: beige;
}