.column  {
	width: 65%;


}
.message {
	background: lavender;
	position: relative;
	border-radius: 20px;
	margin: 2%;
	max-width: 75%; 
	min-height: 40px;
	padding-left: 10px;
	padding-top: 6px;
}

.sent {
	background: #292F4C;
	color: beige;
	 left: 23%; 
}

.recieved {
	background: #eee;
}

.pending {

}
.send-text{
	width: 100%;
	background-color: #eee;;
	left: 5px;
}
.send-button{
	background-color:#F85252;
	color: beige;
	border-radius: 50px;
	font-size: xx-large;
}