.column  {
	width: 65%;


}
.message {
	background: lavender;
	position: relative;
	border-radius: 20px;
	/* border: 2px ; */
	margin: 3%;
	max-width: 75%; 
	min-height: 40px;
}

.sent {
	background: #292F4C;
	color: beige;
	left: 23%;
}

.recieved {
	background: #eee;
	
}

.pending {

}
