.column  {
	background-color:#292F4C;
	width: 65%;
}
.bg-test{
	background-color: #32395d;
}
.message {
	position: relative;
	border-radius: 20px;
	margin: 2%;
	max-width: 75%; 
	min-height: 40px;
	padding-left: 10px;
	padding-top: 6px;
	
	border: 2px solid transparent;
	
}
/* .message:hover{
	border-color: #F85252;
	background-color: transparent;
} */
.sent {
	background: rgb(58, 74, 151);
	color: #fff;
	 left: 23%; 
}

.recieved {
	background: rgb(145, 145, 145);
	color: rgb(255, 255, 255);
}

.send-text{
	background-color: #eee;
	left: 5px;
}
.send-button{
	background-color:#F85252;
	color: #fff;
	border-radius: 50px;
	font-size: xx-large;
	border: 1.5px solid transparent;
}
.send-button:hover{
	background-color: transparent;
    border-color: #F85252;
    color: #F85252;
	font-size: xx-large;
}
.button-cm{
	background-color: #292F4C;
	color:#fff ;
	border-radius: 0 50px 50px 0;
}
.button-cm:hover{
	background-color: rgb(8, 17, 88);
	color:#fff ;
}
.input-cn{
	border-color: black;
	border-width:20px;
}
.input-ad{
	border-color: rgb(122, 120, 120);
	border-radius: 20px;
	border-width:1px;
	width:20%;
}
.chat-name{
	font-size: xx-large;
	color: #fff;
	font-weight: 800;
}

.chat-header {
	background-color: 	#20253b;
	border-bottom: 5px solid #F85252;
}

#MesssageBoxSection {
	position: absolute;
	bottom: 10px;
	right: 10px;
}